{% extends 'layout.html' %}
{% load i18n static %}

{% block nav %}

{% endblock %}

{% block nav_right %}
  
{% endblock %}

{% block tree %}

  <div class="tl-tree">
      <div class="tl-tree-header">
        <div class="tl-tree-header">
        <div class="tree-search">
          <a href="{% url 'gui:workspace' %}"><img src="{% static 'images/logos/logo_large.png' %}" class="logo"/></a>
        </div>
      </div>
      </div>
      <div class="tl-tree-content">
        <div class="tree-search">
          <div class="info-box">
            <div class="info-box-icon">
                <i class="fa fa-key"></i>
            </div>
            <div class="info-box-content">
              <span class="info-box-text">{% trans "Last password change" %}</span> 
              <span class="info-box-number">{{ request.user.last_change_passwd }}</span>
            </div>
          </div>

          <a href="#" id="generate_recovery_key" class="link_download_recovery">
            <div class="info-box">
              <div class="info-box-icon">
                  <i class="fa fa-download"></i>
              </div>
              <div class="info-box-content">
                <span class="info-box-text">{% trans "Download recovery key" %}</span> 
                <span class="info-box-number">
                  {% trans "Download" %}
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %} 
  
  <br/>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{% trans "History" %}</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table" id="table-history"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block css_include %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}"/>
{% endblock %}

{% block js_include %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/moment.js' %}"></script>
  <script src="{% static 'javascripts/history.js' %}"></script>
{% endblock %}

{% block jquery_code %}
{% endblock %}