{% extends 'layout.html' %}
{% load i18n static %}

{% block nav %}

{% endblock %}

{% block nav_right %}
  
{% endblock %}

{% block tree %}

  <div class="tl-tree">
      <div class="tl-tree-header">
        <div class="tl-tree-header">
        <div class="tree-search">
          <a href="{% url 'gui:workspace' %}"><img src="{% static 'images/logos/logo_large.png' %}" class="logo"/></a>
        </div>
      </div>
      </div>
      <div class="tl-tree-content">
        <div class="tree-search">
          <div class="info-box">
            <div class="info-box-icon">
                <i class="fa fa-key"></i>
            </div>
            <div class="info-box-content">
              <span class="info-box-text">{% trans "Last password change" %}</span> 
              <span class="info-box-number">{{ request.user.last_change_passwd }}</span>
            </div>
          </div>

          <a href="#" id="generate_recovery_key" class="link_download_recovery">
            <div class="info-box">
              <div class="info-box-icon">
                  <i class="fa fa-download"></i>
              </div>
              <div class="info-box-content">
                <span class="info-box-text">{% trans "Download recovery key" %}</span> 
                <span class="info-box-number">
                  {% trans "Download" %}
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %} 
  
  <br/>
  <div class="col-md-6 col-md-offset-2">
    <form method="POST" class="form-horizontal" action="{% url 'gui:update_password' %}">
      {% csrf_token %}
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{% trans "Password management" %}</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 form-group">
              <label class="col-md-3 control-label" for="id_old_password">{% trans "Old Password" %}:</label>
              <div class="col-md-8">
                <input type="password" name="old_password" id="id_old_password" class="form-control" required="required"/>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label class="col-md-3 control-label" for="id_new_password">{% trans "New Password" %}:</label>
              <div class="col-md-8">
                <input type="password" name="new_password" id="id_new_password" class="form-control" required="required"/>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <label class="col-md-3 control-label" for="id_confirm_password">{% trans "Repeat Password" %}:</label>
              <div class="col-md-8">
              <input type="password" name="confirm_password"  id="id_confirm_password" class="form-control" required="required"/>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-flat btn-primary pull-right">{% trans "Save" %}</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block css_include %}
{% endblock %}

{% block js_include %}
  <script src="{% static 'javascripts/profile.js' %}"></script>
{% endblock %}

{% block jquery_code %}

  {% if error %}
    notify('error', gettext('Error'), '{{ error }}');
  {% endif %}

  {% if success %}
    notify('success', gettext('Success'), '{{ success }}');
  {% endif %}

{% endblock %}