{% extends 'layout.html' %}
{% load i18n %}

{% block nav %}

{% endblock %}

{% block nav_right %}
  
{% endblock %}

{% block tree %}

  <div class="tl-tree">
      <div class="tl-tree-header">
        <div class="tl-tree-header">
        <div class="tree-search">
          <i class="fa fa-cloud">&nbsp;&nbsp;</i>Teamlock
        </div>
      </div>
      </div>
      <div class="tl-tree-content">
          
        <div class="info-box">
          <div class="info-box-icon">


              <i class="fa fa-users"></i>
          </div>
          <div class="info-box-content">
            <span class="info-box-text">{% trans "Total" %}</span> 
            <span class="info-box-number">{{ teams|length }}</span>

          </div>
        </div>

      </div>
    </div>

{% endblock %}


{% block content %}
  
  <div class="tl-content-header">
    <div class="tl-content-header-search">
      <form action="#" id="form-search">
        <input type="text" id="search-input" class="form-control" placeholder="Search..."/>
      </form>
    </div>
    <div class="tl-content-header-button">
        <a class="tl-header-button btn-add"><i class="fa fa-plus">&nbsp;&nbsp;</i>{% trans "Add an entry" %}</a>
    </div>
  </div>

  <div class="tl-content-table">
  
    <table id="teams" class="table tl-table" width="100%">
      <thead>
        <tr>
          <th>id</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Number of users" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>

      <tbody>
        {% for team in teams %}
          <tr>
            <td>{{ team.pk }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.users.count }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="edit-modal-team" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">{% trans "Add/Edit team" %}</h4>
        </div>
        <div class="modal-body" id="team-modal-content">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary form-submit">{% trans "Save changes" %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block css_include %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.css"/>
{% endblock %}

{% block js_include %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
  <script src="/static/plugins/datatables/dataTables.bootstrap.js"></script>
{% endblock %}

{% block jquery_code %}

  $('.btn-add').on('click', function(){
    $.post(
      '/teams/edit/',
      {'csrfmiddlewaretoken': getCookie('csrftoken')},

      function(response){
        if (typeof(response) === "string"){
          $('#edit-modal-team').modal('show');
          $('#team-modal-content').html(response);
          init_control();
        } else {
          notify('error', 'Error', response['error']);
        }
      }
    )
  })

  $('.form-submit').on('click', function(){
    var data = $('#form_team').serialize();

    $('#load_ajax').html('<i class="fa fa-spinner fa-spin"></i>');
    $.post(
      $('#form_team').attr('action'),
      data,

      function(response){
        $('#load_ajax').html("");
        if (!response.status){
          if (typeof(response.error) === "string"){
            notify('error', 'Error', response.error);
            $('#edit-modal-team').modal('hide');
            
          } else {
            $.each(response['error'], function(key, value){
              $('#id_error_'+key).html(value[0]);
            })
          }

        } else {
          $('#edit-modal-team').modal('hide');
          notify('success', 'Success', '{% trans "Team has been saved" %}');
          var teams_table = $('#teams').dataTable();
          if (response.team_id){
            var nodes = teams_table.fnGetNodes();
            for (var i in nodes){
              var d = teams_table.fnGetData(nodes[i]);
              if (d.id === response.team_id){
                var pos = teams_table.fnGetPosition(nodes[i]);
                teams_table.fnDeleteRow(pos);
                break;
              }
            }
          }

          teams_table.fnAddData(response.team);
        }
      }
    )
  })

  function check_times(data){
    if ($.inArray(data, ["True", "true"]) > -1)
      return "<i class='fa fa-check'></i>"

    return "<i class='fa fa-times'></i>"
  }

  var table = $('#teams').DataTable({
    aaSorting    : [[1, "desc"]],
    sDom: '<"top"<"clear">>rt<"bottom"<"clear">>',
    oLanguage: {
      sLengthMenu: '_MENU_',
      oPaginate  : {
        sNext    : '',
        sPrevious: ''
      }
    },
    aoColumns    : [
      {mData: "id", name: "id", defaultContent: "", bVisible: false, aTargets: [0], sClass: "center", bSortable: false},
      {mData: "name", name: "name", defaultContent: "", bVisible: true, aTargets: [1], sClass: "center", bSortable: true},
      {mData: "nb_users", name: "nb_users", defaultContent: "", bVisible: true, aTargets: [2], sClass: "center", bSortable: true},
      {mData: "action", name: "action", defaultContent: "", bVisible: true, aTargets: [3], sClass: "center", bSortable: false, sWidth: '10%', mRender: function(data, type, row){
        return "<button href='#' class='btn btn-xs btn-flat btn-danger delete-link'><i class='fa fa-trash'></i></button>";
      }},
    ],

    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
      var td_action = $(nRow).find('td').last();
      $(td_action).find('button.delete-link').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();

        $.post(
          '/teams/delete/',
          {
            'csrfmiddlewaretoken': getCookie('csrftoken'),
            'team_id': aData.id
          },

          function(response){
            if (typeof(response) === 'string')
              window.location.href = response;

            if (!response['status']){
              notify('error', 'Error', response['error']);
            } else if (response['status']){
              notify('success', 'success', response['success']);

              var teams_table = $('#teams').dataTable();
              var nodes = teams_table.fnGetNodes();

              for (var i in nodes){
                var d = teams_table.fnGetData(nodes[i]);
                if (d.id === aData['id']){
                  var pos = teams_table.fnGetPosition(nodes[i]);
                  teams_table.fnDeleteRow(pos);
                  break;
                }
              }
            }
          }
        )
      })

      $(nRow).on('click', function(){
        $.post(
          '/teams/edit/',
          {
            'csrfmiddlewaretoken': getCookie('csrftoken'),
            'team_id': aData['id']
          },

          function(response){
            if (typeof(response) === "string"){
              $('#edit-modal-team').modal('show');
              $('#team-modal-content').html(response);
              init_control();
            } else {
              notify('error', 'Error', response['error']);
            }
          }
        )
      })

    }
  });

  $('#form-search').on('submit', function(){
    var table = $('#teams').dataTable();
    table.fnFilter($('#navbar-search-input').val());
  })

{% endblock %}