{% extends 'layout.html' %}
{% load i18n static %}

{% block nav %}

{% endblock %}

{% block nav_right %}
  
{% endblock %}

{% block tree %}

  <div class="tl-tree">
      <div class="tl-tree-header">
        <div class="tl-tree-header">
          <div class="tree-search">
            <a href="{% url 'gui:workspace' %}"><img src="{% static 'images/logos/logo_large.png' %}" class="logo"/></a>
          </div>
        </div>
      </div>
      <div class="tl-tree-content">
          
        <div class="info-box">
          <div class="info-box-icon">
              <i class="fa fa-users"></i>
          </div>
          <div class="info-box-content">
            <span class="info-box-text">{% trans "Total" %}</span> 
            <span class="info-box-number">{{ users|length }}</span>

          </div>
        </div>

        <div class="info-box">
          <div class="info-box-icon">
              <i class="fa fa-cogs"></i>
          </div>
          <div class="info-box-content">
            <span class="info-box-text">{% trans "Not configured" %}</span> 
            <span class="info-box-number">{{ not_configured_users }}</span>

          </div>
        </div>

        <div class="info-box">
          <div class="info-box-icon">
              <i class="fa fa-ban"></i>
          </div>
          <div class="info-box-content">
            <span class="info-box-text">{% trans "Locked" %}</span> 
            <span class="info-box-number">{{ locked_users }}</span>

          </div>
        </div>

      </div>
    </div>

{% endblock %}


{% block content %}
  
  <div class="tl-content-header">
    <div class="tl-content-header-search">
      <form action="#" id="form-search">
        <input type="text" id="search-input" class="form-control" placeholder="Search..."/>
      </form>
    </div>
    <div class="tl-content-header-button">
        <a class="tl-header-button btn-add"><i class="fa fa-plus">&nbsp;&nbsp;</i>{% trans "Add an entry" %}</a>
    </div>
  </div>

  <div class="tl-content-table">
  
    <table id="users" class="table tl-table" width="100%">
      <thead>
        <tr>
          <th>id</th>
          <th>{% trans "First name" %}</th>
          <th>{% trans "Last name" %}</th>
          <th>{% trans "Email" %}</th>
          <th>{% trans "Configured" %}</th>
          <th>{% trans "Staff" %}</th>
          <th>{% trans "Locked" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.configure }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.is_locked }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="edit-modal-user" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">{% trans "Add/Edit user" %}</h4>
        </div>
        <div class="modal-body" id="user-modal-content">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="form-submit">{% trans "Save changes" %}</button>
          <button type="button" class="btn bg-navy" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block css_include %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}"/>
{% endblock %}

{% block js_include %}
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'javascripts/users.js' %}"></script>
{% endblock %}

{% block jquery_code %}

  var user_edit_url = "{% url 'gui:user_edit' %}";
  var user_delete_url = "{% url 'gui:user_delete' %}";
  var user_lock_url = "{% url 'gui:user_lock' %}";
  var user_unlock_url = "{% url 'gui:user_unlock' %}";
  var get_user_workspaces_url = '{% url "gui:get_users_workspaces" %}';

{% endblock %}